@font-face {
    font-family: "nunito";
    font-weight: 500;
    src: url("../fonts/Nunito.ttf");
}

* {
    color: #ababab;
    padding: 0;
    margin: 0;
    z-index: 1;
    font-family: "nunito";
}

body,
html {
    background-color: #000004;
    width: 100%;
    height: 100%;
}

p,
h1,
span {
    font-size: 180%;
}

div {
    display: flex;
}

.main {
    display: flexbox;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main div {
    margin: auto;
}

.entry {
    background: #fff2;
    backdrop-filter: blur(3px);
    font-size: 28px;
    border-color: #f228;
    color: #00ccdd;
    border-radius: 50px 0 0 50px;
    padding: 6px 16px;
    border-right: 0;
    transition: all 0.4s;
}

.submit {
    background: #fff2;
    backdrop-filter: blur(3px);
    font-size: 28px;
    border-color: #f228;
    color: #f22;
    border-radius: 0 50px 50px 0;
    padding: 6px 16px;
    border-left: 0;
    transition: all 0.4s;
}

.entry:invalid {
    color: #f22;
}

.entry:focus {
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-width: 2px;
    border-color: #00ccdd;
    background-color: #00ccdd22;
    color: #00ccdd;
}

.submit:hover {
    cursor: pointer;
    background-color: #00ccdd22;
    border-color: #00ccdd;
}

.entry:hover {
    background-color: #00ccdd22;
    color: #00ccdd;
}

.entry:focus {
    outline: none;
}

.entry:focus::placeholder {
    opacity: 0;
}

.container {
    display: block;
    position: fixed;
    z-index: 0;
}
