@font-face {
    font-family: "nunito";
    font-weight: 500;
    src: url("../fonts/Nunito.ttf");
}

* {
    color: #ababab;
    padding: 0;
    margin: 0;
    z-index: 1;
    font-family: "nunito";
}

body,
html {
    background-color: #000004;
    width: 100%;
    height: 100%;
}

p,
h1,
span {
    font-size: 180%;
}

div {
    display: flex;
}

.main {
    display: flexbox;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main div {
    margin: auto;
}

.entry {
    background: #fff2;
    backdrop-filter: blur(3px);
    font-size: 28px;
    border-color: #fff2;
    border-radius: 50px 0 0 50px;
    padding: 6px 16px;
    border-right: 0;
}

.submit {
    background: #fff2;
    backdrop-filter: blur(3px);
    font-size: 28px;
    border-color: #fff2;
    border-radius: 0 50px 50px 0;
    padding: 6px 16px;
    border-left: 0;
}

.container {
    display: block;
    position: fixed;
    z-index: 0;
}
