@font-face {
    font-family: "nunito";
    font-weight: 500;
    src: url("../fonts/Nunito.ttf");
}

* {
    color: #ababab;
    padding: 0;
    margin: 0;
    z-index: 1;
    font-family: "nunito";
}

body,
html {
    background-color: #000004;
    width: 100%;
    height: 100%;
}

p,
h1,
span {
    font-size: 180%;
}

div {
    display: flex;
}

.main {
    display: flexbox;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main div {
    margin: auto;
}

.container {
    display: block;
    position: fixed;
    z-index: 0;
}
